.link {
  color: #E0EBEB;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #E0EBEB;
  cursor: pointer;
  outline: #E0EBEB;
  box-sizing: border-box;
  padding: 12px 20px;
  color: #E0EBEB;
  text-decoration: none;
  transition: all .5s; }

.link:hover {
  background: #E0EBEB;
  color: #333; }

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../images/books.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative; }

.hero-content {
  width: 55%;
  max-width: 920px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh; }
  .hero-content h1, .hero-content h2, .hero-content p {
    color: #E0EBEB; }
  .hero-content h1 {
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.2; }
  .hero-content h2 {
    padding: 10px 0;
    border-top: 2px solid #E0EBEB;
    border-bottom: 2px solid #E0EBEB; }
  .hero-content .tagline {
    padding-top: 10px;
    margin-top: 5px;
    font-size: 1.25rem;
    max-width: 920px;
    margin: 0 auto; }

.logo-hero, .logo-fixed {
  padding-left: 35px; }
  .logo-hero img, .logo-fixed img {
    height: 65px;
    padding-right: 15px; }

.home-nav {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s; }
  .home-nav .logo-fixed {
    display: none; }
  .home-nav ul {
    padding-right: 35px; }
    .home-nav ul li {
      display: inline-block;
      padding: 5px; }

.inside-nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s; }
  .inside-nav ul {
    padding-right: 35px; }
    .inside-nav ul li {
      display: inline-block;
      padding: 5px; }
      .inside-nav ul li a {
        color: #333; }

.inside-nav .logo-fixed a h2 {
  color: #333; }

.fixed, .inside-nav {
  width: 100%;
  position: fixed;
  bottom: auto;
  z-index: 100;
  top: 0;
  left: 0;
  background: #fff; }
  .fixed .logo-hero, .inside-nav .logo-hero {
    display: none; }
  .fixed .logo-fixed, .inside-nav .logo-fixed {
    position: relative;
    padding-left: 35px;
    display: block;
    height: 65px;
    width: 275px; }
    .fixed .logo-fixed h2, .inside-nav .logo-fixed h2 {
      position: absolute;
      right: 0px;
      bottom: 0px; }
  .fixed .link, .inside-nav .link {
    border-color: #24527A;
    color: #24527A; }
  .fixed .link:hover, .inside-nav .link:hover {
    background: #24527A;
    color: #E0EBEB; }

.inside-mobile-nav {
  z-index: 100;
  display: none;
  padding: 15px 40px;
  top: 0; }
  .inside-mobile-nav img {
    height: 50px; }
  .inside-mobile-nav ul {
    margin: 0; }
    .inside-mobile-nav ul li {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .inside-mobile-nav ul li a {
        font-family: 'Montserrat', sans-serif;
        display: block; }

.inside-mobile-nav {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background: #fff; }
  .inside-mobile-nav a {
    text-decoration: none; }
    .inside-mobile-nav a h2 {
      color: #333;
      font-size: 1.2rem;
      display: inline-block;
      position: relative;
      bottom: 10px;
      margin-left: 10px; }

.hamburger {
  border: 2px solid #24527A;
  border-radius: 4px;
  padding: 2px 4px;
  float: right;
  top: 10px;
  right: 0;
  position: relative;
  color: #24527A;
  font-size: 20px; }

.hamburger:hover {
  color: #E0EBEB;
  background: #24527A;
  cursor: pointer; }

.hamburger-menu {
  display: none;
  position: absolute;
  right: 15px;
  top: 70px; }
  .hamburger-menu a {
    color: #24527A;
    font-weight: 300;
    font-size: .9rem;
    padding: 5px 12px;
    background: #fff; }
  .hamburger-menu a:hover {
    background: #24527A;
    color: #E0EBEB;
    border-radius: 4px; }

#work {
  overflow: hidden; }

.work {
  height: 300px;
  width: 33.3333%;
  float: left;
  position: relative; }

.home-page-content {
  display: none;
  padding-left: 15px;
  position: absolute;
  top: 15%; }
  .home-page-content .title {
    color: #333;
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: 50px;
    vertical-align: baseline;
    margin-bottom: 0;
    text-transform: none; }
  .home-page-content p {
    text-transform: uppercase;
    margin-top: 0;
    color: #333;
    font-size: 1rem;
    line-height: 1.2; }

.gr:hover .home-page-content, .hp:hover .home-page-content, .sg:hover .home-page-content, .lm-logo:hover .home-page-content, .gd:hover .home-page-content {
  display: block; }

.gr, .hp, .sg, .lm-logo, .gd {
  background-position: center;
  object-fit: cover;
  transition: all .5s ease; }

.gr {
  background-image: url("../images/home-page-gr.jpg"); }

.gr:hover {
  background: linear-gradient(rgba(211, 224, 206, 0.5), #d3e0ce), url("../images/home-page-gr.jpg"); }

.hp {
  background-image: url("../images/home-page-hp.jpg"); }

.hp:hover {
  background: linear-gradient(rgba(136, 201, 223, 0.7), #88c9df), url("../images/home-page-hp.jpg");
  background-position: top right; }

.sg {
  background-image: url("../images/home-page-sg.jpg"); }

.sg:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.5), white), url("../images/home-page-sg.jpg");
  background-position: 10% 75%; }

.lm-logo {
  background-image: url("../images/home-page-logo.jpg"); }

.lm-logo:hover {
  background: linear-gradient(rgba(73, 71, 72, 0.2), rgba(73, 71, 72, 0.7)), url("../images/home-page-logo.jpg");
  background-position: 10% 50%; }

.gd {
  background-image: url("../images/home-page-gd.jpg"); }

.gd:hover {
  background: linear-gradient(rgba(213, 215, 212, 0.8), #d5d7d4), url("../images/home-page-gd.jpg");
  background-position: 90% 100%; }

.goodreads {
  background-color: #FAC55B; }

#multiple-devices, #logo {
  border: none; }

.mainbody-work {
  max-width: 920px;
  margin: 105px auto 0;
  padding: 10px; }
  .mainbody-work hr {
    margin: 0; }

.project-goal {
  text-align: center; }
  .project-goal h2 {
    font-weight: 700;
    font-size: 2.5rem;
    padding: 0;
    line-height: 1; }
  .project-goal p {
    font-size: 1.25rem; }
  .project-goal img {
    max-width: 70%; }

.tools, .about, .weak, .opp {
  box-sizing: border-box;
  padding: 10px; }
  .tools p, .about p, .weak p, .opp p {
    margin: 5px 0; }
  .tools ul, .about ul, .weak ul, .opp ul {
    margin: 10px 0; }

.about {
  overflow: hidden; }

.weak {
  width: 50%;
  float: left; }

.opp {
  width: 50%;
  float: left; }

.redesign-goal {
  clear: both; }

.sketches img {
  width: 31%; }

.mockups {
  overflow: hidden; }
  .mockups .mockup-content, .mockups img {
    width: 46%;
    float: left;
    margin: 2%; }
    .mockups .mockup-content p, .mockups img p {
      margin-bottom: 0; }
  .mockups img:nth-of-type(1) {
    margin-bottom: 7%; }

.final img {
  object-fit: cover;
  float: left; }
.final .desktop img {
  width: 46%;
  margin: 1% 1% 1% 2%; }
.final .mobile {
  overflow: hidden; }
  .final .mobile img {
    float: left;
    width: 45%;
    margin: 2%; }

.final h2 {
  margin: 1% 2%; }
.final .tablet {
  overflow: hidden;
  clear: both;
  margin-top: 15px; }
  .final .tablet img {
    width: 46%;
    float: left;
    margin: 1% 2%; }

.ss-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1%; }
  .ss-row img {
    margin: 5px;
    max-width: 46%; }

.whiteboard img {
  width: 49%;
  float: left; }
.whiteboard img:nth-of-type(1) {
  margin-right: 2%; }

.end-result {
  clear: both; }

.sg-desktop, .sg-mobile {
  margin-bottom: 15px; }

.sg-desktop {
  width: 60%;
  float: left;
  margin-right: 10%; }

.sg-mobile {
  width: 30%;
  float: left; }

.sketch-hp, .home-page-hp, .hp-screenshots {
  max-width: 800px;
  margin: 15px auto;
  display: block; }

.hp-screenshots img {
  margin-bottom: 25px;
  overflow: hidden;
  float: left;
  width: 48%;
  box-sizing: border-box; }
.hp-screenshots img:nth-of-type(1) {
  margin-right: 4%; }

.emails, .about {
  margin: 20px 0; }

.emails, .print {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .emails img, .print img {
    height: 450px;
    margin: 0 25px 20px 0; }
  .emails img:nth-of-type(3), .print img:nth-of-type(3) {
    margin-right: 0; }

.photos .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; }
  .photos .row img {
    width: 22%;
    margin-right: 25px; }
  .photos .row img:nth-of-type(4) {
    margin-right: 0; }

.banners .row {
  overflow: hidden; }
  .banners .row img {
    width: 48%;
    margin-bottom: 25px;
    box-sizing: border-box;
    object-fit: contain; }
  .banners .row img:nth-child(odd) {
    float: left; }
  .banners .row img:nth-child(even) {
    float: right; }

.print {
  clear: both; }
  .print img {
    display: inline-block;
    width: 40%;
    object-fit: cover; }
  .print img:nth-of-type(3) {
    width: 75%; }

.logo-process {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: left; }
  .logo-process .process {
    margin-left: 25px;
    width: 65%; }
    .logo-process .process h2 {
      padding: 0;
      margin-top: 0; }

.logo-process-images {
  width: 35%; }
  .logo-process-images img:nth-of-type(2) {
    min-width: 100%; }

.about-highlights {
  width: 90%;
  margin: 25px auto 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center; }
  .about-highlights img {
    width: 33.333%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    margin-right: 15px; }
  .about-highlights img:nth-of-type(2) {
    object-position: 50% 30%; }

.tools {
  text-align: center; }
  .tools h2 {
    padding: 0; }

.about-me h2 {
  padding-top: 25px; }
.about-me p {
  padding-bottom: 15px; }

body {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  line-height: 1.6; }

h1, h2, h3, title, footer {
  font-family: 'Montserrat', sans-serif;
  margin: 5px 0; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400; }

h3 {
  font-size: 1.25rem; }

h4, h5, h6 {
  font-family: 'Crimson Text', serif; }

h4 {
  font-size: .8rem; }

h5 {
  text-transform: uppercase; }

h6 {
  text-transform: uppercase; }

h1::selection, h2::selection, p::selection, em::selection, ul::selection, li::selection, a::selection, .name::selection {
  background-color: #FAC55B; }

h1::-moz-selection, h2::-moz-selection, p::-moz-selection, em::-moz-selection, ul::-moz-selection, li::-moz-selection, a::-moz-selection, .name::-moz-selection {
  background-color: #FAC55B; }

h1::-webkit-selection, h2::-webkit-selection, p::-webkit-selection, em::-webkit-selection, ul::-webkit-selection, li::-webkit-selection, a::-webkit-selection, .name::-webkit-selection {
  background-color: #FAC55B; }

img::selection {
  background-color: #5DACBD; }

img::-moz-selection {
  background-color: #5DACBD; }

img::-webkit-selection {
  background-color: #5DACBD; }

.mainbody-work a {
  text-decoration: none;
  color: #24527A;
  font-weight: 300;
  display: inline-block;
  padding-bottom: 2px;
  overflow: hidden;
  position: relative;
  top: 10px; }
.mainbody-work a:after {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  left: -150%;
  background: #24527A;
  transition: all .5s ease; }
.mainbody-work a:hover:after {
  left: 0;
  background: #24527A; }
.mainbody-work a:after .horizontal-bar {
  background: transparent; }
.mainbody-work img {
  max-width: 100%;
  border: 1px solid #333;
  box-sizing: border-box; }

.mainbody-work .horizontal-bar {
  color: #333; }
.mainbody-work .horizontal-bar:after {
  display: none; }
.mainbody-work .inside-link {
  text-decoration: underline; }
.mainbody-work .inside-link:after {
  display: none; }

footer {
  clear: both;
  background-color: #24527A;
  margin-top: 15px;
  padding: 15px;
  text-align: center; }
  footer .fa {
    padding-right: 15px;
    font-size: 1.25rem;
    color: #E0EBEB; }
  footer .fa:hover {
    color: #FAC55B; }
  footer .swirly:hover {
    animation: swirl 1s; }
@keyframes swirl {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
  footer p {
    color: white;
    text-align: center;
    font-size: .8rem;
    font-weight: 300;
    margin: 5px; }

.clearfix {
  content: "";
  clear: both;
  display: block; }

@media (max-width: 768px) {
  .hero .hero-content {
    width: 90%;
    margin-top: 100px; }
    .hero .hero-content h1 {
      font-size: 2.5rem; }
    .hero .hero-content h2 {
      padding: 5px;
      font-size: 1.2rem; }
    .hero .hero-content .tagline {
      font-size: 1.15rem; }

  .home-nav {
    display: none; }

  .inside-nav {
    display: none; }

  .inside-mobile-nav {
    display: block; }

  .work {
    width: 50%; }

  .mainbody-work {
    padding: 15px; }

  .project-goal img {
    max-width: 100%; }

  .mockups .mockup-content {
    width: 100%;
    margin-bottom: 3%; }
  .mockups img {
    width: 80%;
    float: none;
    display: block;
    margin: 5% auto; }
    .mockups img p {
      margin-bottom: 15px; }

  .final h2 {
    margin: 1% 2%; }
  .final .desktop img {
    float: none;
    display: block;
    border: 1px solid black;
    width: 80%;
    margin: 3% auto; }
  .final .mobile {
    clear: both;
    margin: 1% auto;
    width: 80%; }
    .final .mobile img {
      float: left;
      width: 46%; }

  .final .tablet {
    margin-top: 0; }
    .final .tablet img {
      width: 80%;
      float: none;
      margin: 3% auto;
      display: block; }

  .whiteboard img {
    width: 80%;
    margin: 2% 10%; }

  .sg-desktop {
    width: 80%;
    float: none;
    margin: 2% auto 0; }

  .sg-mobile {
    display: none; }

  .logo-process {
    flex-flow: column;
    width: 100%; }
    .logo-process .process {
      margin-left: 0;
      width: 100%; }
      .logo-process .process h2 {
        padding-top: 25px; }

  .logo-process-images {
    width: 80%;
    margin: 0 auto;
    display: block; }

  .about-highlights img {
    width: 100%;
    margin: 0; }
  .about-highlights img:nth-of-type(odd) {
    display: none; } }
@media (max-width: 500px) {
  .hero {
    height: 65vh; }

  .hero-content {
    height: 65vh; }

  .work {
    width: 100%; }

  .weak, .opp {
    padding: 5px 0; }
    .weak ul, .opp ul {
      margin: 5px 0;
      padding-left: 30px; }

  .weak {
    width: 100%; }

  .opp {
    width: 100%; }

  .sketch-hp, .home-page-hp {
    width: 80%; }

  .hp-screenshots img:nth-of-type(1) {
    margin-right: 10%; }
  .hp-screenshots img {
    width: 80%;
    display: block;
    float: none;
    margin: 15px auto; }

  .photos .row img {
    width: 40%;
    margin-right: 15px; }
  .photos .row img:nth-child(odd) {
    display: none; }

  .banners .row img {
    width: 80%;
    margin-left: 10%; }
  .banners .row img:nth-child(odd) {
    float: none; }
  .banners .row img:nth-child(even) {
    float: none; }

  .print img {
    display: inline-block;
    width: 80%;
    object-fit: cover;
    margin: 0 0 25px; }
  .print img:nth-of-type(3) {
    width: 80%; }

  .project-goal a {
    line-height: 1; }

  .horizontal-bar {
    display: none;
    opacity: 0%; }

  .email {
    display: block; } }

/*# sourceMappingURL=style.css.map */
