button {
  color: #E0EBEB;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #E0EBEB;
  cursor: pointer;
  outline: #E0EBEB;
  box-sizing: border-box; }
  button a {
    padding: 2px 15px;
    color: #E0EBEB;
    text-decoration: none; }

button:hover {
  background: #E0EBEB; }
  button:hover a {
    color: #333; }

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../images/books.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative; }

.hero-content {
  width: 55%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh; }
  .hero-content h1, .hero-content h2, .hero-content p {
    color: #E0EBEB; }
  .hero-content h1 {
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.2; }
  .hero-content h2 {
    padding: 10px 0;
    border-top: 2px solid #E0EBEB;
    border-bottom: 2px solid #E0EBEB; }
  .hero-content .tagline {
    padding-top: 10px;
    margin-top: 5px;
    font-size: 1.25rem; }

.logo-hero, .logo-fixed {
  padding-left: 35px; }
  .logo-hero img, .logo-fixed img {
    height: 65px;
    padding-right: 15px; }

.home-nav {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 15px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .5s; }
  .home-nav .logo-fixed {
    display: none; }
  .home-nav ul {
    padding-right: 35px; }
    .home-nav ul li {
      display: inline-block;
      padding: 5px; }

.inside-nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .5s; }
  .inside-nav ul {
    padding-right: 35px; }
    .inside-nav ul li {
      display: inline-block;
      padding: 5px; }
      .inside-nav ul li a {
        color: #333; }

.inside-nav .logo-fixed a h2 {
  color: #333; }

.fixed, .inside-nav {
  width: 100%;
  position: fixed;
  bottom: auto;
  z-index: 100;
  top: 0;
  left: 0;
  background: #fff; }
  .fixed .logo-hero, .inside-nav .logo-hero {
    display: none; }
  .fixed .logo-fixed, .inside-nav .logo-fixed {
    position: relative;
    padding-left: 35px;
    display: block;
    height: 65px;
    width: 275px; }
    .fixed .logo-fixed h2, .inside-nav .logo-fixed h2 {
      position: absolute;
      right: 0px;
      bottom: 0px; }
  .fixed button, .inside-nav button {
    border-color: #24527A; }
    .fixed button a, .inside-nav button a {
      color: #24527A; }
  .fixed button:hover, .inside-nav button:hover {
    background: #24527A; }
    .fixed button:hover a, .inside-nav button:hover a {
      color: #E0EBEB; }

.inside-mobile-nav {
  display: none;
  padding: 15px 40px;
  top: 0; }
  .inside-mobile-nav img {
    height: 50px; }
  .inside-mobile-nav ul {
    margin: 0; }
    .inside-mobile-nav ul li {
      list-style-type: none;
      height: 100%;
      margin: 0;
      padding: 0; }
      .inside-mobile-nav ul li a {
        font-family: 'Montserrat', sans-serif;
        display: block; }

.inside-mobile-nav {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background: #fff; }
  .inside-mobile-nav a {
    text-decoration: none; }
    .inside-mobile-nav a h2 {
      color: #333;
      font-size: 1.2rem;
      display: inline-block;
      position: relative;
      bottom: 10px;
      margin-left: 10px; }

.hamburger {
  float: right;
  top: 10px;
  right: 0;
  position: relative;
  color: #24527A;
  border-color: #24527A;
  outline: 0;
  font-size: 20px; }

.hamburger:hover {
  color: #E0EBEB;
  background: #24527A; }

.hamburger-menu {
  display: none;
  position: absolute;
  right: 15px;
  top: 70px; }
  .hamburger-menu a {
    color: #24527A;
    font-weight: 300;
    font-size: .9rem;
    padding: 5px 12px;
    background: #fff; }
  .hamburger-menu a:hover {
    background: #24527A;
    color: #E0EBEB;
    border-radius: 4px; }

#work {
  overflow: hidden; }

.work {
  height: 300px;
  width: 33.3333%;
  float: left;
  position: relative; }

.home-page-content {
  display: none;
  padding-left: 15px;
  position: absolute;
  top: 15%; }
  .home-page-content .title {
    color: #E0EBEB;
    font-size: 1.5rem;
    margin-top: 50px;
    vertical-align: baseline;
    margin-bottom: 0; }
  .home-page-content p {
    margin-top: 0;
    color: #E0EBEB; }

.gr:hover .home-page-content, .hp:hover .home-page-content, .sg:hover .home-page-content {
  display: block; }

.gr, .hp, .sg {
  background-position: center;
  object-fit: cover;
  transition: all .5s ease; }

.gr {
  background-image: url("../images/home-page-gr.jpg"); }

.gr:hover {
  background: linear-gradient(rgba(93, 172, 189, 0.7), #5dacbd), url("../images/home-page-gr.jpg"); }

.hp {
  background-image: url("../images/home-page-hp.jpg"); }

.hp:hover {
  background: linear-gradient(rgba(93, 172, 189, 0.7), #5dacbd), url("../images/home-page-hp.jpg");
  background-position: top right; }

.sg {
  background-image: url("../images/home-page-sg.jpg"); }

.sg:hover {
  background: linear-gradient(rgba(93, 172, 189, 0.7), #5dacbd), url("../images/home-page-sg.jpg");
  background-position: 10% 75%; }

.harry-potter {
  background-color: #A7BCB9; }

.goodreads {
  background-color: #FAC55B; }

.mainbody-work {
  max-width: 920px;
  margin: 105px auto 0;
  padding: 10px; }
  .mainbody-work h2 {
    padding-top: 25px; }
  .mainbody-work hr {
    margin: 0; }

.project-goal {
  text-align: center; }
  .project-goal h2 {
    font-weight: 700;
    font-size: 2.5rem;
    padding: 0;
    line-height: 1; }
  .project-goal p {
    font-size: 1.25rem; }
  .project-goal img {
    max-width: 70%; }

.tools, .about, .weak, .opp {
  box-sizing: border-box;
  padding: 10px; }
  .tools p, .about p, .weak p, .opp p {
    margin: 5px 0; }
  .tools ul, .about ul, .weak ul, .opp ul {
    margin: 10px 0; }

.about {
  overflow: hidden; }

.weak {
  width: 50%;
  float: left; }

.opp {
  width: 50%;
  float: left; }

.redesign-goal {
  clear: both; }

.sketches img {
  width: 31%; }

.mockups {
  overflow: hidden; }
  .mockups .mockup-content, .mockups img {
    width: 46%;
    float: left;
    margin: 1% 2%; }
    .mockups .mockup-content p, .mockups img p {
      margin-bottom: 0; }

.final img {
  object-fit: cover;
  float: left; }
.final .desktop img {
  width: 46%;
  margin: 1% 1% 1% 2%; }
.final .mobile {
  overflow: hidden; }
  .final .mobile img {
    float: left;
    width: 45%;
    margin: 2%; }

.final h2 {
  margin: 1% 2%; }
.final .tablet {
  overflow: hidden;
  clear: both;
  margin-top: 15px; }
  .final .tablet img {
    width: 46%;
    float: left;
    margin: 1% 2%; }

.ss-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1%; }
  .ss-row img {
    margin: 5px;
    max-width: 46%; }

.whiteboard img {
  width: 49%;
  float: left; }
.whiteboard img:nth-of-type(1) {
  margin-right: 2%; }

.end-result {
  clear: both; }

.sg-desktop, .sg-mobile {
  margin-bottom: 15px; }

.sg-desktop {
  width: 60%;
  float: left;
  margin-right: 10%; }

.sg-mobile {
  width: 30%;
  float: left; }

.about-highlights {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center; }
  .about-highlights hr {
    margin-top: 15px; }
  .about-highlights img {
    width: 40%;
    margin-right: 25px; }

.about-me h2 {
  padding-top: 25px; }

body {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  line-height: 1.6; }

h1, h2, h3, title, footer {
  font-family: 'Montserrat', sans-serif;
  margin: 5px 0; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400; }

h3 {
  font-size: 1.25rem; }

h4, h5, h6 {
  font-family: 'Crimson Text', serif; }

h4 {
  font-size: .8rem; }

h5 {
  text-transform: uppercase; }

h6 {
  text-transform: uppercase; }

.mainbody-work a {
  text-decoration: none;
  color: #24527A;
  font-weight: 300;
  display: inline-block;
  padding-bottom: 2px;
  overflow: hidden;
  position: relative;
  top: 10px; }
.mainbody-work a:after {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  left: -150%;
  background: #24527A;
  transition: all .5s ease; }
.mainbody-work a:hover:after {
  left: 0;
  background: #24527A; }
.mainbody-work img {
  max-width: 100%;
  border: 1px solid #333;
  box-sizing: border-box; }

#multiple-devices, #logo {
  border: none; }

footer {
  clear: both;
  background-color: #24527A;
  margin-top: 15px;
  padding: 15px;
  text-align: center; }
  footer .fa {
    padding-right: 15px;
    font-size: 1.25rem;
    color: #E0EBEB; }
  footer .swirly:hover {
    animation: swirl 1s; }
@keyframes swirl {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
  footer p {
    color: white;
    text-align: center;
    font-size: .8rem;
    font-weight: 300;
    margin: 5px; }

.clearfix {
  content: "";
  clear: both;
  display: block; }

@media (max-width: 768px) {
  .hero .hero-content {
    width: 90%;
    margin-top: 100px; }
    .hero .hero-content h1 {
      font-size: 2.5rem; }
    .hero .hero-content h2 {
      padding: 5px;
      font-size: 1.2rem; }
    .hero .hero-content .tagline {
      font-size: 1.15rem; }

  .home-nav {
    display: none; }

  .inside-nav {
    display: none; }

  .inside-mobile-nav {
    display: block; }

  .work {
    width: 50%; }

  .mainbody-work {
    padding: 15px; }

  .mockups .mockup-content {
    width: 100%; }
  .mockups img {
    width: 80%;
    float: none;
    display: block;
    margin: 1% auto; }
    .mockups img p {
      margin-bottom: 15px; }

  .final h2 {
    margin: 1% 2%; }
  .final .desktop img {
    float: none;
    display: block;
    border: 1px solid black;
    width: 80%;
    margin: 1% auto; }
  .final .mobile {
    clear: both;
    margin: 1% auto;
    width: 80%; }
    .final .mobile img {
      float: left;
      width: 46%; }

  .final .tablet {
    margin-top: 0; }
    .final .tablet img {
      width: 80%;
      float: none;
      margin: 1% auto;
      display: block; }

  .whiteboard img {
    width: 80%;
    margin: 2% auto;
    display: block; }

  .sg-desktop {
    width: 80%;
    float: none;
    margin: 2% auto 0; }

  .sg-mobile {
    display: none; }

  .about-highlights {
    flex-flow: column;
    width: 80%; }
    .about-highlights img {
      width: 80%;
      margin: 0; } }
@media (max-width: 500px) {
  .work {
    width: 100%; }

  .weak, .opp {
    padding: 5px 0; }
    .weak ul, .opp ul {
      margin: 5px 0;
      padding-left: 30px; }

  .weak {
    width: 100%; }

  .opp {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
