button {
  padding: 0 30px;
  color: #E0EBEB;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #E0EBEB;
  cursor: pointer;
  box-sizing: border-box; }
  button a {
    color: #E0EBEB;
    text-decoration: none; }

button:hover {
  background: #E0EBEB; }
  button:hover a {
    color: #333; }

ul a {
  text-decoration: none;
  padding: 15px;
  margin: 5px; }

img {
  max-height: 100%; }

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../images/books.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative; }

.hero-content {
  width: 55%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh; }
  .hero-content h1, .hero-content h2, .hero-content p {
    color: #E0EBEB; }
  .hero-content h1 {
    padding-bottom: 10px; }
  .hero-content h2 {
    padding: 10px 0;
    border-top: 2px solid #E0EBEB;
    border-bottom: 2px solid #E0EBEB; }
  .hero-content .tagline {
    padding-top: 10px;
    margin-top: 5px;
    font-size: 1.25rem; }

nav {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 15px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .5s; }
  nav button {
    margin-left: 35px; }
  nav ul {
    padding: 10px 35px 0 0; }
    nav ul li {
      display: inline-block;
      padding: 5px; }
      nav ul li a {
        margin: 10px;
        padding: 0;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .9rem;
        color: #E0EBEB;
        font-weight: 700;
        display: inline-block;
        padding-bottom: 3px;
        overflow: hidden;
        position: relative; }
      nav ul li a:after {
        content: '';
        position: absolute;
        display: block;
        height: 3px;
        width: 100%;
        left: -150%;
        background: #E0EBEB;
        transition: all .5s ease; }
      nav ul li a:hover:after {
        left: 0;
        background: #E0EBEB; }

.fixed {
  position: fixed;
  bottom: auto;
  z-index: 100;
  top: 0;
  left: 0;
  background: rgba(244, 235, 235, 0.9); }
  .fixed a {
    color: #24527A; }
  .fixed button {
    border-color: #24527A; }
  .fixed button:hover {
    background: #24527A; }
    .fixed button:hover a {
      color: #E0EBEB; }
  .fixed a:after {
    background: #24527A; }
  .fixed a:hover:after {
    background: #24527A; }

.work {
  height: 300px;
  width: 33.3333%;
  float: left;
  position: relative; }

.home-page-content {
  display: none;
  padding-left: 15px;
  position: absolute;
  top: 15%; }
  .home-page-content .title {
    color: #E0EBEB;
    font-size: 1.5rem;
    margin-top: 50px;
    vertical-align: baseline;
    margin-bottom: 0; }
  .home-page-content p {
    margin-top: 0;
    color: #E0EBEB; }

.gr:hover .home-page-content, .hp:hover .home-page-content {
  display: block; }

.gr, .hp {
  background-position: center;
  object-fit: cover;
  transition: all .5s ease; }

.gr {
  background-image: url("../images/home-page-gr.jpg"); }

.gr:hover {
  background: linear-gradient(rgba(93, 172, 189, 0.45), rgba(93, 172, 189, 0.45)), url("../images/home-page-gr.jpg"); }

.hp {
  background-image: url("../images/home-page-hp.jpg"); }

.hp:hover {
  background: linear-gradient(rgba(93, 172, 189, 0.45), rgba(93, 172, 189, 0.45)), url("../images/home-page-hp.jpg");
  background-position: right; }

.saving-grace {
  background-color: #24527A; }

.harry-potter {
  background-color: #A7BCB9; }

.goodreads {
  background-color: #FAC55B; }

body {
  font-family: 'Crimson Text', serif;
  font-size: 16px;
  line-height: 1.4; }

h1, h2, h3, title {
  font-family: 'Montserrat', sans-serif;
  margin: 5px 0; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400; }

h3 {
  font-size: 1.25rem; }

h4, h5, h6 {
  font-family: 'Crimson Text', serif; }

h4 {
  font-size: .8rem; }

h5 {
  text-transform: uppercase; }

h6 {
  text-transform: uppercase; }

.largebody {
  height: 900px;
  background: orange; }

.clearfix {
  content: "";
  clear: both;
  display: block; }

/*# sourceMappingURL=style.css.map */
