@import "partials/variables";
@import "partials/nav";
@import "partials/index";
@import "partials/global-work";
@import "partials/goodreads";
@import "partials/savinggrace";
@import "partials/harrypotter";
@import "partials/graphicdesign";
@import "partials/logo";
@import "partials/about";

body {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  line-height: 1.6;
}

h1, h2, h3, title, footer {
font-family: 'Montserrat', sans-serif;
margin:5px 0;
}

h1 {
  font-size:3rem;
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
}

h3 {
  font-size: 1.25rem;
}

h4, h5, h6 {
  font-family: 'Crimson Text', serif;
}

h4 {
  font-size: .8rem;
}

h5 {
  text-transform:uppercase;
}

h6 {
  text-transform:uppercase;
}

h1::selection, h2::selection, p::selection, em::selection, ul::selection, li::selection, a::selection, .name::selection {
  background-color: $accent;
}
h1::-moz-selection, h2::-moz-selection, p::-moz-selection, em::-moz-selection, ul::-moz-selection, li::-moz-selection, a::-moz-selection, .name::-moz-selection {
  background-color: $accent;
}
h1::-webkit-selection, h2::-webkit-selection, p::-webkit-selection, em::-webkit-selection, ul::-webkit-selection, li::-webkit-selection, a::-webkit-selection, .name::-webkit-selection {
  background-color: $accent;
}

img::selection {
  background-color:$primary;
}
img::-moz-selection {
  background-color:$primary;
}
img::-webkit-selection {
  background-color:$primary;
}



.mainbody-work {

  a {
    text-decoration: none;
    color: $secondary;
    font-weight: 300;
    display: inline-block;
    padding-bottom: 2px;
    overflow:hidden;
    position:relative;
    top: 10px;
  }
  a:after {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    left: -150%;
    background: $secondary;
    transition: all .5s ease;
  }
  a:hover:after {
    left: 0;
    background: $secondary;
  }

  a:after .horizontal-bar {
    background: transparent;
  }

  img {
    max-width: 100%;
    border: 1px solid #333;
    box-sizing: border-box;
  }
}

// Fix for positioning of | to look right on 
.mainbody-work {
  .horizontal-bar {
    color: #333;
  }
  .horizontal-bar:after {
    display: none;
  }
}


footer {
  clear: both;
  background-color: $secondary;
  margin-top: 15px;
  padding: 15px;
  text-align: center;

  .fa {
    padding-right: 15px;
    font-size: 1.25rem;
    color: $shade;
  }
  .fa:hover {
    color: $accent;
  }

  .swirly:hover{
    animation:swirl 1s;
  }

  @keyframes swirl {
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
  }

  p {
    color: white;
    text-align: center;
    font-size: .8rem;
    font-weight: 300;
    margin: 5px;
  }
}

.clearfix {
  content:"";
  clear:both;
  display:block;
}

@import "partials/media";
