.about-highlights {
  width: 90%;
  margin: 25px auto 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  img {
    width: 33.333%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    margin-right : 15px;
  }
  img:nth-of-type(2){
    object-position: 50% 30%;
  }
}

.tools {
  text-align:center;
  h2 {
    padding: 0;
  }
}

.about-me {
  h2 {
    padding-top: 25px;
  }
  p {
    padding-bottom:15px;
  }
}
