.sketches {
  img {
    width: 31%;
  }
}

.mockups {
  overflow: hidden;
  .mockup-content, img {
    width: 46%;
    float: left;
    margin: 1% 2%;
    p {
      margin-bottom: 0;
    }
  }
}

.final {
  img {
    object-fit: cover;
    float: left;
  }
  .desktop {
    img {
      width: 46%;
      margin: 1% 1% 1% 2%;
    }
  }
  .mobile {
    overflow: hidden;
    img {
      float: left;
      width: 45%;
      margin: 2%;
    }
  }
}

.final {
  h2 {
    margin: 1% 2%;
  }
  .tablet {
    overflow: hidden;
    clear:both;
    margin-top: 15px;
    img {
      width: 46%;
      float: left;
      margin:1% 2%;
    }
  }
}

.ss-row {
  display: flex;
  justify-content: space-between;;
  align-items: flex-start;
  // flex-wrap: wrap;
  margin: 1%;
  img {
    margin: 5px;
    max-width:46%;
  }
}
