.work {
  height: 300px;
  width: 33.3333%;
  float: left;
  position:relative;
}

.home-page-content {
  display: none;
  padding-left: 15px;
  position: absolute;
  top: 15%;
  .title {
    color:$shade;
    font-size: 1.5rem;
    margin-top: 50px;
    vertical-align: baseline;
    margin-bottom: 0;
  }
  p{
    margin-top: 0;
    color: $shade;
  }
}
.gr:hover, .hp:hover, .sg:hover {
  .home-page-content {
    display: block;
  }
}

.gr, .hp, .sg {
  background-position: center;
  object-fit: cover;
  transition: all .5s ease;
}

.gr {
  background-image: url("../images/home-page-gr.jpg");
}
.gr:hover {
  background:
    linear-gradient(
      rgba(93,172,189, .7),
      rgba(93,172,189, 1)
    ),
    url("../images/home-page-gr.jpg");
}

.hp {
  background-image: url("../images/home-page-hp.jpg");
}
.hp:hover {
  background:
    linear-gradient(
      rgba(93,172,189, .7),
      rgba(93,172,189, 1)
    ),
    url("../images/home-page-hp.jpg");
    background-position: top right;
}

.sg {
  background-image: url("../images/home-page-sg.jpg");
}
.sg:hover {
  background:
  linear-gradient(
    rgba(93,172,189, .7),
    rgba(93,172,189, 1)
  ),
  url("../images/home-page-sg.jpg");
  background-position: 10% 75%;
}

.harry-potter {
  background-color:$tint;
}
.goodreads {
  background-color:$accent;
}
