

@media (max-width:768px) {
  /////////////////////////////
  //Home Page Hero ///////////
  ///////////////////////////
  .hero {
    .hero-content {
      width: 90%;
      margin-top: 100px;
      h1{
        font-size: 2.5rem;
      }
      h2 {
        padding: 5px;
        font-size:1.2rem;
      }
      .tagline {
        font-size: 1.15rem;
      }
    }
  }
  .home-nav {
    display:none;
  }

  /// Navigation for Mobile //

  .inside-nav {
    display:none;
  }
  .inside-mobile-nav {
    display: block;
  }

  //Home Page Work Containers/
  .work {
    width: 50%;
  }

  .mainbody-work {
    // margin:0;
    padding: 15px;
  }

  // Global Styles for Device Image
  .project-goal {
    img {
      max-width: 100%;
    }
  }

  /////////////////////////////
  //Good Read Page ///////////
  ///////////////////////////

  // Photoshop sketches screenshots

  .mockups {
    .mockup-content {
      width:100%;
      margin-bottom: 3%;
    }
    img {
      width: 80%;
      float: none;
      display: block;
      margin: 5% auto;
      p {
        margin-bottom: 15px;
      }
    }
  }

  // End result screenshots

  .final {
    h2 {
      margin: 1% 2%;
    }
    .desktop {
      img {
        float:none;
        display: block;
        border:1px solid black;
        width: 80%;
        margin: 3% auto;
      }
    }
    .mobile {
      clear:both;
      margin: 1% auto;
      width: 80%;
      img {
        float: left;
        width: 46%;
      }
    }
  }

  .final {
    .tablet {
      margin-top: 0;
      img {
        width: 80%;
        float: none;
        margin: 3% auto;
        display: block;
      }
    }
  }


  /////////////////////////////
  //Saving Grace Page ////////
  ///////////////////////////
  .whiteboard {
    img {
      width: 80%;
      margin: 2% 10%;
    }
  }
  .sg-desktop {
    width: 80%;
    float: none;
    margin: 2% auto 0;
  }
  .sg-mobile {
    display: none;
  }


  /////////////////////////////
  //Logo Creation Page ///////
  ///////////////////////////

  .logo-process {
    flex-flow: column;
    width: 100%;

    .process {
      margin-left: 0;
      width: 100%;
      h2 {
        padding-top:25px ;
      }
    }
  }
  .logo-process-images{
    width: 80%;
    margin: 0 auto;
    display: block;
  }


  /////////////////////////////
  //About Me ///// ///////////
  ///////////////////////////

  .about-highlights{
    // flex-flow: column;
    // width: 80%;
    img {
      width: 100%;
      margin: 0;
    }
    img:nth-of-type(odd) {
      display:none;
    }
  }
}

@media (max-width:500px) {

  /////////////////////////////
  //Home Page ////////////////
  ///////////////////////////

  // Hero Section

  .hero {
    height: 65vh;
  }

  .hero-content {
    height: 65vh;
  }

// Home Page Work Containers

  .work {
    width: 100%;
  }

  // Global Content Work Pages

  .weak, .opp {
    padding: 5px 0;
    ul {
      margin: 5px 0;
      padding-left: 30px;
    }
  }
  .weak{
    width: 100%;
    // float: none;
  }
  .opp {
    width: 100%;
    // float:left;
  }

  // Harry Potter
  .sketch-hp, .home-page-hp {
    width: 80%;
  }

  .hp-screenshots {
    img:nth-of-type(1){
      margin-right: 10%;
    }

    img {
      width: 80%;
      display: block;
      float:none;
      margin: 15px auto;
    }
  }

  /////////////////////////////
  //Graphic Design Page //////
  ///////////////////////////

  .photos {
    .row {
      img {
        width: 40%;
        margin-right: 15px;
      }
      img:nth-child(odd){
        display:none;
      }
    }
  }



  .banners {
    .row {
      img {
        width: 80%;
        margin-left: 10%;
      }
      img:nth-child(odd) {
        float: none;
      }
      img:nth-child(even){
        float: none;
      }
    }
  }

  .print {
    img{
      display:inline-block;
      width: 80%;
      object-fit: cover;
      margin:0 0 25px;
    }
    img:nth-of-type(3){
      width: 80%;
    }
  }

  // About Me
  .project-goal {
    a {
      line-height: 1;
    }
  }

  .horizontal-bar {
    display:none;
    opacity: 0%;
  }

  .email {
    display: block;
  }
}
