button{
padding: 0 30px;
margin-left:35px;
color: $shade;
text-align: center;
font-size: 11px;
font-weight: 600;
line-height: 38px;
letter-spacing: .1rem;
text-transform: uppercase;
text-decoration: none;
white-space: nowrap;
background-color: transparent;
border-radius: 4px;
border: 1px solid $shade;
cursor: pointer;
box-sizing: border-box;
  a {
    color:$shade;
    text-decoration: none;
  }
}
button:hover {
  background:$shade;
  a{
    color:#333;
  }
}

ul a {
  text-decoration: none;
  padding: 15px;
  margin: 5px;
}

.hero {
  background:
    linear-gradient(
      rgba(0, 0, 0, .6),
      rgba(0, 0, 0, .9)
      ),
    url("../images/books.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.hero-content {
  width: 55%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;

  h1, h2, p {
    color: $shade;
  }
  h1 {
    font-weight: 300;
    padding-bottom: 10px;
  }
  h2 {
    padding: 10px 0;
    border-top: 2px solid $shade;
    border-bottom: 2px solid $shade;
  }
  .tagline {
    padding-top:10px;
    margin-top: 5px;
    font-size: 1.25rem;
  }
}


.home-nav {
  position:absolute;
  width: 100%;
  height:50px;
  bottom:15px;
  left:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .5s;

  ul {
    padding: 10px 35px 0 0;
    li{
      display: inline-block;
      padding:5px;
      a {
        margin: 10px;
        padding: 0;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .9rem;
        color: $shade;
        font-weight: 700;
        display: inline-block;
        padding-bottom: 3px;
        overflow:hidden;
        position:relative;
      }
      a:after {
        content: '';
        position: absolute;
        display: block;
        height: 3px;
        width: 100%;
        left: -150%;
        background: $shade;
        transition: all .5s ease;
      }
      a:hover:after {
        left: 0;
        background: $shade;
      }
    }
  }
}

.inside-nav {
  padding: 5px;
  height:50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  position:fixed;
  top: 0;
  transition: all .5s;

  button {
    border-color: $secondary;
    a{
      color:$secondary;
    }
  }
  button:hover{
    background: $secondary;
    a{
      color:$shade;
    }
  }

  ul {
    padding: 10px 35px 0 0;
    li{
      display: inline-block;
      padding:5px;
      a {
        margin: 10px;
        padding: 0;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .9rem;
        color: $secondary;
        font-weight: 700;
        display: inline-block;
        padding-bottom: 3px;
        overflow:hidden;
        position:relative;
      }
      a:after {
        content: '';
        position: absolute;
        display: block;
        height: 3px;
        width: 100%;
        left: -150%;
        background: $secondary;
        transition: all .5s ease;
      }
      a:hover:after {
        left: 0;
        background: $secondary;
      }
    }
  }
}

.fixed {
  width: 100%;
  position: fixed;
  bottom:auto;
  z-index:100;
  top:0;
  left:0;
  background: #fff;
  button {
    border-color: $secondary;
    a{
      color:$secondary;
    }
  }
  button:hover{
    background: $secondary;
    a{
      color:$shade;
    }
  }
  ul {
    li {
      a {
        color: $secondary;
      }
      a:after {
        background: $secondary;
      }
      a:hover:after {
        background: $secondary;
      }
    }
  }
}
