.emails, .about, {
  margin: 20px 0;
}

.emails, .print {
  // width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  img {

    height: 450px;
    margin: 0 25px 20px 0;
  }
  img:nth-of-type(3){
    margin-right: 0;
  }
}

.photos {
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    img {
      width: 22%;
      margin-right: 25px;
    }
    img:nth-of-type(4){
      margin-right:0;
    }
  }
}

.banners {
  .row {
    overflow: hidden;
    img {
      width: 48%;
      margin-bottom: 25px;
      box-sizing: border-box;
      object-fit: contain;
    }
    img:nth-child(odd) {
      float: left;
    }
    img:nth-child(even){
      float: right;
    }
  }
}

.print {
  clear:both;
  img{
    display:inline-block;
    width: 40%;
    object-fit: cover;
  }
  img:nth-of-type(3){
    width: 75%;
  }
}
