#work {
  overflow: hidden;
}

.work {
  height: 300px;
  width: 33.3333%;
  float: left;
  position:relative;
}

.home-page-content {
  display: none;
  padding-left: 15px;
  position: absolute;
  top: 15%;

  .title {
    color:#333;
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: 50px;
    vertical-align: baseline;
    margin-bottom: 0;
    text-transform: none;
  }
  p{
    text-transform: uppercase;
    margin-top: 0;
    color: #333;
    font-size: 1rem;
    line-height: 1.2;
  }
}
.gr:hover, .hp:hover, .sg:hover, .lm-logo:hover, .gd:hover, .tt:hover {
  .home-page-content {
    display: block;
  }
}

.gr, .hp, .sg, .lm-logo, .gd, .tt {
  background-position: center;
  object-fit: cover;
  transition: all .5s ease;
}

.gr {
  background-image: url("../images/home-page-gr.jpg");
}
.gr:hover {
  background:
    linear-gradient(
      rgba(211,224,206, .5),
      rgba(211,224,206, 1)
    ),
    url("../images/home-page-gr.jpg");
}

.hp {
  background-image: url("../images/home-page-hp.jpg");
}
.hp:hover {
  background:
    linear-gradient(
      rgba(136,201,223, .7),
      rgba(136,201,223, 1)
    ),
    url("../images/home-page-hp.jpg");
    background-position: top right;
}

.sg {
  background-image: url("../images/home-page-sg.jpg");
}
.sg:hover {
  background:
  linear-gradient(
    rgba(255,255,255, .5),
    rgba(255,255,255, 1)
  ),
  url("../images/home-page-sg.jpg");
  background-position: 10% 75%;
}

.lm-logo {
  background-image: url("../images/home-page-logo.jpg");
}
.lm-logo:hover {
  background:
  linear-gradient(
    rgba(73,71,72,.2),
    rgba(73,71,72,.7)
  ),
  url("../images/home-page-logo.jpg");
  background-position: 10% 50%;
}

.tt {
  background-image: url("../images/home-page-tt.jpg");
}
.tt:hover {
  background:
  linear-gradient(
    rgba(232,135,35,1),
    rgba(232,135,35,.7)
  ),
  url("../images/home-page-tt.jpg");
  background-position: 90% 50%;
}

.gd {
  background-image: url("../images/home-page-gd.jpg");
}
.gd:hover {
  background:
  linear-gradient(
    rgba(213,215,212,.8),
    rgba(213,215,212,1)
  ),
  url("../images/home-page-gd.jpg");
  background-position:90% 100%;
}


.goodreads {
  background-color:$accent;
}
